<form action="{:url()}" method="post" class="form_single">
    <div class="box">
      <div class="box-body">
        <div class="row">

          <div class="col-md-6">
            <div class="form-group">
              <label>生活号类型名</label>
              <span>（类型名不能重复）</span>
              <input class="form-control" name="type_name" placeholder="请输入类型名" type="text">
            </div>
          </div>

        </div>
      </div>
      <div class="box-footer">
        
        {include file="layout/edit_btn_group"/}
      </div>
    </div>
</form>
