<div class="box">
  <div class="box-header">
      <div class="row">
          <div class="col-sm-5">
              <ob_link><a class="btn" href="{:url('addLifeType')}"><i class="fa fa-plus"></i> 新 增</a></ob_link>
          </div>
      </div>
  </div>
    
  <!-- /.box-header -->
  <div class="box-body table-responsive">
    <table  class="table table-bordered table-hover">
      <thead>
      <tr>
          <th class="checkbox-select-all">
              <label>
                <input class="flat-grey js-checkbox-all" type="checkbox">
              </label>
          </th>
          <th>生活号类型</th>
      </tr>
      </thead>
      
      {notempty name='lifeTypeList'}
        <tbody>
            {volist name='lifeTypeList' id='vo'}
                <tr>
                  <td>
                    <label>
                        <input class="flat-grey" type="checkbox" name="ids" value="{$vo.id}">
                    </label>
                  </td>
                  <td>
                      <ob_link><a class="btn-frameless" href="{:url('menuList', array('pid' => $vo['id']))}">{$vo.type_name}</a>
                  </td>
                </tr>
            {/volist}
        </tbody>
        {else/}
        <tbody><tr class="odd"><td colspan="8" class="text-center" valign="top">{:config('empty_list_describe')}</td></tr></tbody>
      {/notempty}
    </table>
      
    {include file="layout/batch_btn_group"/}
      
  </div>
  
  <div class="box-footer clearfix text-center">
      {$lifeTypeList->render()}
  </div>

</div>